/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.TitleHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleHomePage h2{
    margin-right:1rem;
}

.CarContainer {
    display: flex;
    flex-flow: wrap;    
    padding: 25px 0px 25px 0px;
    justify-content: center;
}

.carBox {
    padding: 3%;
    display: flex;
    flex-flow: column;
    width: 30%;
    min-width: 125px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 36px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -8px rgba(0,0,0,0.75);
    background-color: #e8e7e5;
}

.infoLine span:first-of-type {
    margin-right: 2%;
}

.infoLine span:nth-of-type(2) {
    text-decoration:underline;
}

.cardHeader{
    display:flex;
    justify-content:flex-end;
}

.cardHeader svg{
    cursor:pointer;
}